# Исключить все файлы с расширением, заканчивающиеся суффиксами: _old, _backup
*_old
*_backup

# Игнорировать все файлы в каталоге tmp/
tmp/

# Игнорировать файл файлы Thumbs.db и .DS_Store
Thumbs.db
**/.DS_Store
